.mybtn {
    background-color: #cd5334;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#FAF3F1;
}
.myinp{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.myinp:focus{
    outline: none;
}
.form {

width: 90%;

background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}