.top {
   
}
.logo {
    animation: logo-spin infinite 5s;
    height: 80px;
  }

@keyframes logo-spin {
    0% { transform: skew(10deg); }
    33% { transform: skew(0deg);}
    66% { transform: skew(-10deg);}
    100% { transform: skew(10deg);}
  }
  