.App {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
body {
  background-color: #374955;
  color: #FAF3F1;
  font-family:'Audiowide', cursive;
}
.particles {
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: -1;

}